@import "./reset.css";

// font-family: 'Amiri', serif;
// font-family: 'Lato', sans-serif;
// font-family: 'Noto Sans KR', sans-serif;

$urlImage: "../images";
$urlVideo: "../videos";

$baseGap: 20px;
$baseFontSize: 16px;
$black: #0a0b0b;
$primary: #b9ff7d;
$gray: #687070;
$lightGray: #adaeae;
$white: #ffffff;
$leftIndent: 15.9722222222222vw;
$rightIndent: 7.9861111111111vw;
$sectionGap: 240px;
body {
  &.scroll__none {
    overflow: hidden;
  }
}

.web__only {
  display: block;
}
.mobile__only {
  display: none;
}

@mixin titleLine($height) {
  content: "";
  display: block;
  position: absolute;
  bottom: 0.302083333333333em;
  left: -5%;
  width: 0;
  height: $height;
  background-color: $primary;
  transform: skew(10deg);
  transition: 0.7s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(0.5em);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

@keyframes textRowPop {
  0% {
    opacity: 0;
    transform: translateX(0.2em);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes blurEffect {
  0% {
    opacity: 0;
    filter: blur(20px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

@keyframes visualEffect {
  0% {
    transform: scale(200%);
    filter: blur(100px);
  }
  100% {
    transform: scale(100%);
    filter: blur(0px);
  }
}

html {
  scroll-behavior: smooth;
}
body {
  font-size: $baseFontSize;
  font-family: "Lato", "Noto Sans KR", sans-serif;
  color: $black;
}

.hidden {
  font-size: 0;
  color: transparent;
  line-height: 0;
}

#wrap {
  padding: 0 $baseGap * 2;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: $baseGap $baseGap * 2;
  z-index: 100;
  .logo {
    width: 102px;
    height: 24px;
    margin-right: auto;
    animation: blurEffect 0.5s 0.1s forwards;
    opacity: 1;
    visibility: visible;
    pointer-events: all;

    a {
      width: 100%;
      height: 100%;
      background: url(#{$urlImage}/logo.svg);
      background-size: cover;
    }
    &.hide {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  }

  .sns {
    width: 24px;
    height: 24px;
    display: block;
    background: url(#{$urlImage}/logo_highnlow.png);
    background-size: cover;
    opacity: 0;
    visibility: hidden;
    transform: translateY(40px);
    animation: fadeIn 0.5s 0.6s forwards;
  }

  .nav__button {
    display: none;
    width: 24px;
    height: 24px;
    .bar {
      display: block;
      width: 20px;
      height: 2px;
      background-color: $black;
    }
    &:after,
    &:before {
      content: "";
      display: block;
      width: 20px;
      height: 2px;
      background-color: $black;
      position: absolute;
      transition: 0.4s;
    }
    &:before {
      top: 4px;
      left: 2px;
    }
    &:after {
      top: 18px;
      right: 2px;
    }
  }
}

#aside {
  position: fixed;
  right: 44px;
  top: 50%;
  transform: translateY(-50%);
  background: url(#{$urlImage}/aside.svg) no-repeat center center;
  width: 14px;
  height: 196px;
  z-index: 100;
}

.nav {
  position: fixed;
  top: 20px;
  right: 21.5277777777778vw;
  z-index: 100;
  display: flex;
  .menu {
    font-weight: 700;
    opacity: 0;
    visibility: hidden;
    transform: translateY(40px);
    transition: 0.4s;
    &:not(:last-child) {
      margin-right: 74px;
    }
    &.on {
      color: $primary;
    }
  }
  @for $i from 1 through 4 {
    .menu:nth-child(#{$i}) {
      animation: fadeIn 0.5s 0.1 + 0.1s * $i forwards;
    }
  }
}

#container {
  background-color: #fff;
}

section {
  position: relative;
  &:not(:first-child) {
    padding-top: 120px;
  }
  &:not(:last-child) {
    padding-bottom: 120px;
  }
}

#home {
  & > div {
    min-height: 100vh;
  }
  .visual {
    width: 86.4583333333333vw;
    .blank {
      height: 30px;
      display: block;
      position: sticky;
      top: 0;
      background-color: #fff;
    }
    img {
      width: 100%;
    }
    canvas {
      width: 86.4583333333333vw;
      height: 53.8541666666667vw;
    }
  }
  .copy {
    padding-left: $leftIndent;
    margin-top: -170.5px;
    .title {
      display: inline-block;
      font-size: $baseFontSize * 6;
      .word {
        position: relative;
        display: block;
        opacity: 0;
        visibility: hidden;
        transform: translateY(40px);
        &.word1 {
          &.on {
            animation: fadeIn 0.4s forwards;
          }
        }
        &.word2 {
          display: flex;
          align-items: center;
          &.on {
            animation: fadeIn 0.4s forwards;
          }
          img {
            width: 2.4em;
            height: 1.16em;
            object-fit: cover;
          }
          // &:after {
          //   content: "";
          //   display: block;
          //   width: 2.4em;
          //   height: 1.16em;
          //   background: url(#{$urlImage}/were.gif);
          // }
        }
        &.word3 {
          transition: 0;
          display: flex;
          span {
            opacity: 0;
          }
          &:before {
            @include titleLine(0.135416666666667em);
          }
          &.on {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
            &:before {
              width: 110%;
            }
            @for $i from 1 through 9 {
              span:nth-child(#{$i}) {
                animation: textRowPop 0.5s 0.05s * $i forwards;
              }
            }
          }
        }
      }
    }
  }
}

#about {
  .visual {
    position: sticky;
    top: 0;
    min-height: 100vh;
    z-index: 0;
    .title {
      padding-left: $leftIndent;
      font-size: $baseFontSize * 1.5;
      position: absolute;
      top: 63px;
      span {
        line-height: 1.5em;
        display: block;
      }
    }
    .arrow__wrap {
      display: flex;
      justify-content: space-between;
      min-height: 100vh;
      padding: 63px 0;
      .arrow {
        width: 25.1388888888889vw;
        height: 25.1388888888889vw;
        background-size: cover;
        &.arrow1 {
          margin-top: auto;
        }
        &.arrow2 {
          transform: rotate(45deg) translate(10%, 10%);
        }
        &.arrow3 {
          margin-top: auto;
          transform: rotate(90deg);
        }
        svg {
          width: 100%;
          height: 100%;
          transition: 0.2s;
          path {
            transition: 0.2s;
          }
        }
        &.on {
          svg {
            fill: $primary;
            path {
              stroke: $primary;
            }
          }
        }
      }
    }
  }
  .copy {
    position: relative;
    display: flex;
    padding-right: $rightIndent;
    z-index: 10;
    .list {
      width: 38.5416666666667vw;
      margin-left: auto;
    }
    .item {
      margin-bottom: 238px;
      &:last-child {
        margin-bottom: 100vh;
      }
      .title {
        font-size: $baseFontSize * 1.25;
      }
      .desc {
        font-size: $baseFontSize * 0.875;
        margin-top: 1.5em;
        font-weight: 700;
        line-height: 1.666666666666667em;
      }
    }
  }
}

#works {
  padding-top: 0;
  .copy {
    padding-top: 37.5vh;
    position: sticky;
    top: 0;
    z-index: 10;
    pointer-events: none;
    .title {
      font-size: $baseFontSize * 6;
      font-weight: 500;
      font-family: "Noto Sans KR", sans-serif;
      .draw {
        font-family: "Amiri", serif;
        span {
          opacity: 0;
        }
        &.on {
          span {
            &:nth-child(1) {
              animation: blurEffect 1s 0.5s forwards;
            }
            &:nth-child(2) {
              animation: blurEffect 0.7s 0.1s forwards;
            }
            &:nth-child(3) {
              animation: blurEffect 0.6s 0.4s forwards;
            }
            &:nth-child(4) {
              animation: blurEffect 0.7s 0.3s forwards;
            }
            &:nth-child(5) {
              animation: blurEffect 0.9s 0.2s forwards;
            }
            &:nth-child(6) {
              animation: blurEffect 0.5s 0.6s forwards;
            }
          }
        }
      }
    }
    .desc {
      font-size: $baseFontSize;
      font-weight: 700;
      line-height: 1.583333333333333em;
      margin-top: 0.5em;
    }
  }
  .list {
    height: 72.3611111111111vw;
    position: relative;
    // height: 100vw;
    .item {
      position: absolute;
      display: flex;
      cursor: pointer;
      a {
        display: flex;
        flex-direction: row-reverse;
      }
      .num {
        font-size: $baseFontSize * 2.25;
        font-style: italic;
        font-weight: 700;
        color: $primary;
      }
      .name {
        font-size: $baseFontSize;
        line-height: 1.25em;
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
        transition: 0.5s;
        span {
          display: block;
          font-size: $baseFontSize * 0.625;
          line-height: 1em;
          font-weight: 100;
          margin-top: 0.3em;
        }
      }
      .thumb {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s;
        transform: translateY(40px);
        overflow: hidden;
        width: 534px;
        height: 300px;
        img,
        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
          margin: 0 auto;
        }
      }
      &:nth-child(odd) {
        flex-direction: row;
        .num {
          margin-right: 20px;
        }
        .thumb {
          left: 63px;
        }
      }
      &:nth-child(even) {
        flex-direction: row-reverse;
        .num {
          margin-left: 20px;
        }
        .thumb {
          right: 63px;
        }
      }
      &:nth-child(1) {
        top: 400px;
        left: calc(46.4583333333333vw - 40px);
      }
      &:nth-child(2) {
        top: 760px;
        right: calc(30.4861111111111vw - 40px);
      }
      &:nth-child(3) {
        top: 857px;
        left: calc(6.5277777777778vw - 40px);
        .thumb {
          width: 325px;
          height: 460px;
        }
      }
      &:nth-child(4) {
        top: 934px;
        right: calc(14.5138888888889vw - 40px);
      }
      &.item1 {
        video {
          width: 100%;
        }
      }
      &.item2 {
        video {
          height: 100%;
        }
      }
      &:hover {
        .name {
          opacity: 0;
          visibility: hidden;
          transform: translateY(-20px);
        }
        .thumb {
          opacity: 1;
          z-index: 1000;
          visibility: visible;
          transform: translateY(0px);
        }
      }
    }
  }
}

#hiring {
  padding-right: $rightIndent;
  > .title {
    font-size: $baseFontSize * 4;
    position: sticky;
    top: 30vh;
    margin-left: $leftIndent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 2.5em;
  }
  .copy {
    width: 38.5416666666667vw;
    margin-left: auto;
    margin-top: 100vh;
    & > div {
      margin-bottom: 80px;
    }
    .desc {
      font-size: $baseFontSize * 1.25;
      line-height: 1.5em;
      font-weight: 700;
    }
    .item {
      --titleBarWidth: 0;
      .title {
        font-size: $baseFontSize * 1.25;
        font-weight: 900;
        margin-bottom: 1.25em;
        position: relative;
        display: inline-block;
        &:before {
          @include titleLine(0.25em);
        }
        span {
          display: flex;
          opacity: 0;
          &.blank {
            display: block;
            width: 0.2em;
          }
        }
      }
      .desc {
        font-size: $baseFontSize * 0.875;
        pointer-events: none;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      &.on {
        .title {
          &:before {
            width: 110%;
          }
          @for $i from 1 through 20 {
            span:nth-child(#{$i}) {
              animation: textRowPop 0.5s 0.05s * $i forwards;
            }
          }
        }
      }
    }
  }
}

#contact {
  padding-left: $leftIndent;
  .copy {
    width: 47.0138888888889vw;
    position: relative;
    z-index: 10;
    .descs {
      margin-bottom: 120px;
      .desc {
        font-size: $baseFontSize * 1.25;
        font-weight: 700;
        line-height: 1.5em;
        &:not(:last-child) {
          margin-bottom: 3em;
        }
      }
    }
    .list {
      display: flex;
      justify-content: space-between;
      .item {
        font-size: $baseFontSize * 0.75;
        display: flex;
        flex-direction: column;
        padding-right: 32px;
        dt {
          font-weight: 900;
          margin-bottom: 1.666666666666667em;
        }
        dd {
          font-weight: 400;
          line-height: 1.666666666666667em;
          font-family: "Noto Sans KR", sans-serif;
        }
      }
    }
  }
  .forms {
    display: flex;

    .info {
      font-size: $baseFontSize * 0.75;
      flex: 1 1 0;
      padding-top: 272px;
      .title {
        background: url(#{$urlImage}/logo.svg) no-repeat;
        background-size: cover;
        width: 55px;
        height: 13px;
        margin-bottom: $baseGap * 2;
      }
      .list {
        display: flex;
        flex-direction: column;
        margin-bottom: 120px;
        .item {
          &:not(:last-child) {
            margin-bottom: 2.333333333333333em;
          }
        }
      }
      .desc {
        font-size: $baseFontSize * 1.25;
        font-weight: 700;
        line-height: 1.5em;
      }
      .arrow {
        width: 26.25vw;
        position: absolute;
        bottom: 45px;
        left: 22.9861111111111vw;
        pointer-events: none;
        svg {
          width: 100%;
        }
      }
    }
    form {
      flex: 1.2826 1 0;
      padding: $baseGap * 2;
      background-color: $primary;
      margin-top: -35px;
      .input__box {
        display: flex;
        border-bottom: 1px solid $black;
        padding-bottom: 0.875em;
        &:not(:last-child) {
          margin-bottom: $baseGap * 2;
        }
        label {
          font-weight: 700;
          width: 190px;
        }
        textarea {
          height: 15.125em;
          line-height: 1.5em;
        }
        &.checkbox {
          padding: 0 10px;
          border: none;
          label {
            display: flex;
            align-items: center;
            width: 100%;
            .checked {
              flex-shrink: 0;
              cursor: pointer;
              display: block;
              width: 1.5em;
              height: 1.5em;
              background-color: #fff;
              border: 1px solid $black;
              margin-right: $baseGap * 2;
              transition: 0.3s;
            }
            .value {
              cursor: pointer;
            }
            label {
              width: auto;
            }
            input[type="checkbox"] {
              display: none;
              &:checked ~ .checked {
                background-color: $black;
              }
            }
          }
        }
      }
      input[type="submit"] {
        background-color: #fff;
        border: 1px solid $black;
        font-weight: 700;
        color: $black;
        width: 100%;
        height: 3.5em;
        text-align: center;
        transition: 0.3s;
        &:hover {
          background-color: $black;
          color: #fff;
        }
      }
    }
  }
}

#footer {
  display: flex;
  justify-content: space-between;
  font-size: $baseFontSize * 0.75;
  font-weight: 700;
  padding: 160px 0 33px;
  .links {
    display: flex;
    .link {
      margin-left: 46px;
      text-decoration: underline;
    }
  }
}

/* SUB */
.sub {
  #wrap {
    padding: 0;
    position: relative;
  }
  .visual {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    video {
      width: 100vw;
      height: 100vh;
      object-fit: cover;
    }
  }
  .contents {
    position: relative;
    margin-top: 100vh;

    padding: 0 40px;
    width: 100vw;
    min-height: 100vh;
    .info {
      padding: 56px 10.7638888888889vw 78px;
      display: flex;
      .title {
        flex-basis: 50.6944444444444%;
        flex-shrink: 0;
        .name {
          font-size: 36px;
          margin-bottom: 0.666666666666667em;
        }
        .createAt {
          display: block;
          font-size: 12px;
          color: #687070;
        }
      }
      .desc {
        font-size: 12px;
        font-weight: 700;
        line-height: 1.666666666666667em;
      }
    }
    .layout {
      .grid__wrap {
        &:not(:last-child) {
          margin-bottom: 80px;
        }
      }
      .grid__item {
        img {
          width: 100%;
        }
        .desc {
          font-size: $baseFontSize * 0.75;
          font-weight: 700;
          margin-top: 1.666666666666667em;
        }
      }
    }
  }
  .pager {
    display: flex;
    justify-content: space-between;
    padding: 70px 40px 48px;
    .arrow {
      display: flex;
      flex-direction: column;
      font-size: $baseFontSize;
      line-height: 1.5em;
      &.prev {
        justify-content: flex-start;
        img {
          transform: rotate(180deg);
        }
      }
      &.next {
        justify-content: flex-end;
      }
    }
  }
}

@media (max-width: 900px) {
  .web__only {
    display: none;
  }
  .mobile__only {
    display: block;
  }
  $baseGap: 10px;
  $baseFontSize: 16px;
  $leftIndent: 15.9722222222222vw;
  $rightIndent: 7.9861111111111vw;
  $sectionGap: 240px;

  #aside {
    right: 20px;
  }

  #header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 20px;
    z-index: 100010;
    .sns {
      display: none;
    }
    .nav__button {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      z-index: 10000;
      cursor: pointer;
      position: fixed;
      z-index: 10000;
      top: 20px;
      right: 20px;
      &.on {
        &:before,
        &:after {
          top: 12px;
        }
      }
    }
  }

  .nav {
    position: fixed;
    z-index: 100;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.95);
    top: 0;
    left: 0;
    width: 100vw;
    bottom: 0;
    padding: 180px 40px 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    filter: blur(40px);
    transition: 0.4s;
    .menu {
      font-weight: 700;
      opacity: 0;
      visibility: hidden;
      transform: translateY(40px);
      font-size: 48px;
      line-height: 1em;
      text-align: right;
      &:not(:last-child) {
        margin-right: 0px;
        margin-bottom: 60px;
      }
    }
    @for $i from 1 through 4 {
      .menu:nth-child(#{$i}) {
        animation: none;
      }
    }

    &.on {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      filter: blur(0px);
      @for $i from 1 through 4 {
        .menu:nth-child(#{$i}) {
          animation: fadeIn 0.5s 0.1 + 0.1s * $i forwards;
        }
      }
      .menu {
        color: $black;
        position: relative;
        &.on {
          a {
            display: inline-block;
            position: relative;

            &:before {
              content: "";
              display: block;
              position: absolute;
              bottom: 0.302083333333333em;
              left: -5%;
              right: -5%;
              height: 0.2em;
              z-index: -1;
              background-color: $primary;
              transform: skew(10deg);
              transition: 0.7s;
            }
          }
        }
      }
    }
  }

  #wrap {
    padding: 0 20px;
  }
  #home {
    height: 100vh;
    .visual {
      width: 100%;

      img {
        width: 100%;
        height: 67vh;
        object-fit: cover;
      }
    }
    .copy {
      padding-left: 0;
      margin-top: 0;
      position: absolute;
      bottom: 90px;
      left: 0;
      .title {
        font-size: 17vw;
        .word {
          position: relative;
          display: block;
          opacity: 0;
          visibility: hidden;
          transform: translateY(40px);
          &.word1 {
            &.on {
              animation: fadeIn 0.4s forwards;
            }
          }
          &.word2 {
            &.on {
              animation: fadeIn 0.4s forwards;
            }
          }
          &.word3 {
            transition: 0;
            display: flex;
            span {
              opacity: 0;
            }
            &:before {
              @include titleLine(0.135416666666667em);
            }
            &.on {
              opacity: 1;
              visibility: visible;
              transform: translateY(0);
              &:before {
                width: 110%;
              }
              @for $i from 1 through 9 {
                span:nth-child(#{$i}) {
                  animation: textRowPop 0.5s 0.05s * $i forwards;
                }
              }
            }
          }
        }
      }
    }
  }

  #about {
    .visual {
      position: relative;
      top: auto;
      min-height: auto;
      margin-bottom: 100px;
      .title {
        padding-left: 0;
        font-size: 18px;
        line-height: 28px;
        position: relative;
        top: auto;
      }
      .arrow__wrap {
        display: none;
      }
    }
    .copy {
      padding-right: 0;
      .list {
        width: auto;
        margin-left: 43px;
        .item {
          margin-bottom: 80px;
          .title {
            font-size: 16px;
          }
        }
      }
    }
  }
  #works {
    .copy {
      padding-top: 0;
      position: relative;
      top: auto;
      z-index: 10;
      pointer-events: none;
      margin-bottom: 80px;
      .title {
        font-size: 56px;
        line-height: 64px;
      }
      .desc {
        font-size: 14px;
        line-height: 24px;
      }
    }
    .list {
      height: auto;
      .item {
        position: relative;
        align-items: flex-start;
        a {
          display: flex;
          flex-direction: column;
        }
        &:nth-child(odd) {
          flex-direction: column;
          .num {
            margin-right: 0px;
          }
          .thumb {
            left: auto;
          }
        }
        &:nth-child(even) {
          flex-direction: column;
          .num,
          .name {
            margin-left: 0px;
            display: block;
            width: 100%;
            text-align: right;
          }
          .thumb {
            right: auto;
            order: 2;
          }
          .name {
            order: 3;
          }
        }
        &:nth-child(1) {
          top: auto;
          left: auto;
          .thumb {
            width: 100%;
          }
        }
        &:nth-child(2) {
          top: auto;
          right: auto;
          .thumb {
            width: 100%;
            video {
              width: 100%;
            }
          }
        }
        &:nth-child(3) {
          top: auto;
          left: auto;
          .thumb {
            width: 100%;
          }
        }
        &:nth-child(4) {
          top: auto;
          right: auto;
          .thumb {
            width: 100%;
          }
        }
        &:not(:last-child) {
          margin-bottom: 14px;
        }
        &:hover {
          .name {
            opacity: 1;
            visibility: visible;
            transform: translateY(0px);
          }
          .thumb {
            opacity: 1;
            z-index: 1000;
            visibility: visible;
            transform: translateY(0px);
          }
        }
        .num {
          margin-bottom: 14px;
        }
        .thumb {
          position: relative;
          opacity: 1;
          visibility: visible;
          transform: translateY(0px);
        }
        .name {
          margin-top: 14px;
          order: 3;
        }
      }
    }
  }
  #hiring {
    padding-right: 0;
    padding-left: 43px;
    .title {
      font-size: 56px;
      position: relative;
      top: auto;
      margin-left: 0;
      margin-bottom: 60px;
    }
    .copy {
      width: auto;
      margin-left: auto;
      margin-top: auto;
    }
  }
  #contact {
    padding-left: 0;
    .copy {
      width: 100%;
      .descs {
        .desc {
          text-indent: 2em;
        }
      }
      .list {
        flex-direction: column;
        .item {
          flex-wrap: wrap;
          flex-direction: row;
          padding-right: 0;
          display: flex;
          font-size: 14px;
          line-height: 24px;
          margin-bottom: 40px;
          &:last-child {
            margin-bottom: 80px;
          }
          dt {
            flex-basis: 100%;
            flex-shrink: 0;
            font-size: 14px;
            margin-bottom: 12px;
          }
          dd {
            &:after {
              content: "/";
              margin: 0 0.3em;
            }
          }
        }
      }
    }
    .forms {
      display: block;
      .info {
        padding-top: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .title {
          flex-shrink: 0;
          // flex-basis: 40%;
        }
        .list {
          flex-basis: 60%;
          flex-shrink: 0;
          margin-bottom: 80px;
          .item {
            dt {
              display: block;
              margin-bottom: 10px;
            }
            dd {
              line-height: 18px;
            }
          }
        }
        .desc {
          flex-basis: 100%;
          flex-shrink: 0;
          margin-bottom: 30px;
        }
        .arrow {
          display: none;
        }
      }
      form {
        flex: 1;
        padding: 30px 16px;
        margin-top: auto;
        .input__box {
          label {
            display: none;
          }
          &:not(:last-child) {
            margin-bottom: 30px;
          }
          &.checkbox {
            label {
              .checked {
                margin-right: 12px;
              }
            }
          }
        }
      }
    }
  }
  #footer {
    padding: 80px 0 40px;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: flex-start;
    .copyright {
      flex-basis: 100%;
      flex-shrink: 0;
    }
    .links {
      margin-bottom: 16px;
      .link {
        margin-left: 0;
        &:first-child {
          order: 2;
        }
        &:last-child {
          margin-right: 20px;
        }
      }
    }
  }
}

@media (max-width: 640px) {
}
