@import "./reset.css";

// font-family: 'Amiri', serif;
// font-family: 'Lato', sans-serif;
// font-family: 'Noto Sans KR', sans-serif;

$baseGap: 20px;
$baseFontSize: 16px;
$black: #0a0b0b;
$primary: #b9ff7d;
$gray: #687070;
$lightGray: #adaeae;
$white: #ffffff;
$leftIndent: 15.9722222222222vw;
$rightIndent: 7.9861111111111vw;
$sectionGap: 240px;

@mixin titleLine($height) {
  content: "";
  display: block;
  position: absolute;
  bottom: 0.302083333333333em;
  left: -5%;
  width: 0;
  height: $height;
  background-color: $primary;
  transform: skew(10deg);
  z-index: -1;
  transition: 0.7s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(0.5em);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

@keyframes textRowPop {
  0% {
    opacity: 0;
    transform: translateX(0.2em);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

html {
  scroll-behavior: smooth;
}
body {
  font-size: $baseFontSize;
  font-family: "Lato", "Noto Sans KR", sans-serif;
  color: $black;
}

.hidden {
  font-size: 0;
  color: transparent;
  line-height: 0;
}

#wrap {
  padding: 0 $baseGap * 2;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: $baseGap $baseGap * 2;
  z-index: 100;
  .logo {
    width: 102px;
    height: 24px;
    margin-right: auto;
    a {
      width: 100%;
      height: 100%;
      background: url(../images/logo.svg);
      background-size: cover;
    }
  }
  .nav {
    display: flex;
    margin-right: 17.0833333333333vw;
    .menu {
      font-weight: 700;
      &:not(:last-child) {
        margin-right: 74px;
      }
    }
  }
  .sns {
    width: 24px;
    height: 24px;
    display: block;
    background: url(../images/ic_instagram.svg);
    background-size: cover;
  }
}

#aside {
  position: fixed;
  right: 44px;
}

section {
  position: relative;
  &:not(:last-child) {
    margin-bottom: $sectionGap;
  }
}

#home {
  & > div {
    min-height: 100vh;
  }
  .visual {
    canvas {
      width: 86.4583333333333vw;
      height: 53.8541666666667vw;
    }
  }
  .copy {
    padding-left: $leftIndent;
    margin-top: -170.5px;
    .title {
      display: inline-block;
      font-size: $baseFontSize * 6;
      .word {
        position: relative;
        display: block;
        opacity: 0;
        visibility: hidden;
        transform: translateY(40px);
        &.word1 {
          &.on {
            animation: fadeIn 0.4s forwards;
          }
        }
        &.word2 {
          &.on {
            animation: fadeIn 0.4s forwards;
          }
        }
        &.word3 {
          transition: 0;
          display: flex;
          span {
            opacity: 0;
          }
          &:before {
            @include titleLine(0.135416666666667em);
          }
          &.on {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
            &:before {
              width: 110%;
            }
            @for $i from 1 through 9 {
              span:nth-child(#{$i}) {
                animation: textRowPop 0.5s 0.05s * $i forwards;
                // animation: textRowPop 0.5s 0.1s * $i forwards;
              }
            }
          }
        }
      }
    }
  }
}

#about {
  .visual {
    position: sticky;
    top: 0;
    min-height: 100vh;
    z-index: -1;
    .title {
      padding-left: $leftIndent;
      font-size: $baseFontSize;
      position: absolute;
      // top: 20vh;
      top: 63px;
      span {
        line-height: 1.5em;
        display: block;
      }
    }
    .arrow__wrap {
      display: flex;
      justify-content: space-between;
      // align-items: center;
      min-height: 100vh;
      padding: 63px 0;
      .arrow {
        width: 25.1388888888889vw;
        height: 25.1388888888889vw;
        background-size: cover;
        &.arrow1 {
          margin-top: auto;
        }
        &.arrow2 {
          transform: rotate(45deg) translate(10%, 10%);
        }
        &.arrow3 {
          margin-top: auto;
          transform: rotate(90deg);
        }
        svg {
          width: 100%;
          height: 100%;
          transition: 0.2s;
          path {
            transition: 0.2s;
          }
        }
        &.on {
          svg {
            fill: $primary;
            path {
              stroke: $primary;
            }
          }
        }
      }
    }
  }
  .copy {
    display: flex;
    padding-right: $rightIndent;
    .list {
      width: 38.5416666666667vw;
      margin-left: auto;
    }
    .item {
      font-size: $baseFontSize * 0.75;
      margin-bottom: 238px;
      &:last-child {
        margin-bottom: 100vh;
      }
      .desc {
        margin-top: 1.5em;
        font-weight: 700;
        line-height: 1.666666666666667em;
      }
    }
  }
}

#works {
  .copy {
    padding-top: 184px;
    position: sticky;
    top: 0;
    z-index: 10;
    pointer-events: none;
    .title {
      font-size: $baseFontSize * 6;
      font-weight: 500;
      font-family: "Noto Sans KR", sans-serif;
      .draw {
        font-family: "Amiri", serif;
      }
    }
    .desc {
      font-size: $baseFontSize * 0.75;
      font-weight: 700;
      line-height: 1.583333333333333em;
      margin-top: 0.5em;
    }
  }
  .list {
    height: 72.3611111111111vw;
    // height: 100vw;
    .item {
      position: absolute;
      display: flex;
      align-items: flex-start;
      cursor: pointer;
      .num {
        font-size: $baseFontSize * 2.25;
        font-style: italic;
        font-weight: 700;
        color: $primary;
      }
      .name {
        font-size: $baseFontSize * 0.75;
        line-height: 1.25em;
        padding-top: 4px;
      }
      .thumb {
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
        height: 0;
        transform: scale(0);
        img {
          width: 100%;
        }
      }
      &:nth-child(odd) {
        flex-direction: row;
        .num {
          margin-right: 20px;
        }
      }
      &:nth-child(even) {
        flex-direction: row-reverse;
        .num {
          margin-left: 20px;
        }
      }
      &:nth-child(1) {
        top: 0;
        left: calc(46.4583333333333vw - 40px);
        .thumb {
          width: 534px;
          height: 300px;
        }
        &:after {
          content: url(../videos/playin_1.mp4);
          display: block;
          width: 500px;
          height: 300px;
        }
      }
      &:nth-child(2) {
        top: 360px;
        right: calc(30.4861111111111vw - 40px);
        .thumb {
          width: 325px;
          height: 462px;
        }
      }
      &:nth-child(3) {
        top: 457px;
        left: calc(6.5277777777778vw - 40px);
        .thumb {
          width: 440px;
          height: 285px;
        }
      }
      &:nth-child(4) {
        top: 534px;
        right: calc(14.5138888888889vw - 40px);
        .thumb {
          width: 440px;
          height: 508px;
        }
      }
      &.item1 {
        video {
          width: 100%;
        }
      }
      &.item2 {
        video {
          height: 100%;
        }
      }
      &:hover {
        .thumb {
          opacity: 1;
          visibility: visible;
          height: 100%;
        }
      }
    }
  }
}

#hiring {
  padding-right: $rightIndent;
  h3 {
    font-size: $baseFontSize * 4;
    position: sticky;
    top: 30vh;
    margin-left: $leftIndent;
  }
  .copy {
    width: 38.5416666666667vw;
    margin-left: auto;
    margin-top: 100vh;
    & > div {
      margin-bottom: 80px;
    }
    .desc {
      line-height: 1.5em;
      font-weight: 700;
    }
    .item {
      .title {
        font-weight: 900;
        margin-bottom: 1.25em;
        position: relative;
        display: inline-block;
        &:before {
          @include titleLine(0.25em);
        }
      }
      .desc {
        font-size: $baseFontSize * 0.75;
      }
    }
  }
}

#contact {
  padding-left: $leftIndent;
  .copy {
    width: 47.0138888888889vw;
    .descs {
      margin-bottom: 120px;
      .desc {
        font-weight: 700;
        line-height: 1.5em;
        &:not(:last-child) {
          margin-bottom: 3em;
        }
      }
    }
    .list {
      display: flex;
      justify-content: space-between;
      .item {
        font-size: $baseFontSize * 0.75;
        display: flex;
        flex-direction: column;
        padding-right: 32px;
        dt {
          font-weight: 900;
          margin-bottom: 1.666666666666667em;
        }
        dd {
          font-weight: 400;
          line-height: 1.666666666666667em;
          font-family: "Noto Sans KR", sans-serif;
        }
      }
    }
  }
  .forms {
    display: flex;

    .info {
      font-size: $baseFontSize * 0.75;
      flex: 1 1 0;
      padding-top: 272px;
      .title {
        background: url(../images/logo.svg) no-repeat;
        background-size: cover;
        width: 55px;
        height: 13px;
        margin-bottom: $baseGap * 2;
      }
      .list {
        display: flex;
        flex-direction: column;
        margin-bottom: $sectionGap / 2;
        .item {
          &:not(:last-child) {
            margin-bottom: 2.333333333333333em;
          }
        }
      }
      .desc {
        font-size: $baseFontSize;
        font-weight: 700;
        line-height: 1.5em;
      }
      .arrow {
        width: 26.25vw;
        position: absolute;
        bottom: 45px;
        left: 22.9861111111111vw;
        pointer-events: none;
        svg {
          width: 100%;
        }
      }
    }
    .form {
      flex: 1.2826 1 0;
      padding: $baseGap * 2;
      background-color: $primary;
      margin-top: -35px;
      .input__box {
        display: flex;
        border-bottom: 1px solid $black;
        padding-bottom: 0.875em;
        &:not(:last-child) {
          margin-bottom: $baseGap * 2;
        }
        label {
          font-weight: 700;
          width: 190px;
        }
        textarea {
          height: 15.125em;
          line-height: 1.5em;
        }
        &.checkbox {
          padding: 0 10px;
          border: none;
          label {
            display: flex;
            align-items: center;
            width: 100%;
            .checked {
              display: block;
              width: 1.5em;
              height: 1.5em;
              background-color: #fff;
              border: 1px solid $black;
              margin-right: $baseGap * 2;
              transition: 0.3s;
            }
            label {
              width: auto;
            }
            input[type="checkbox"] {
              display: none;
              &:checked ~ .checked {
                background-color: $black;
              }
            }
          }
        }
      }
      input[type="submit"] {
        background-color: #fff;
        border: 1px solid $black;
        font-weight: 700;
        color: $black;
        width: 100%;
        height: 3.5em;
        text-align: center;
        transition: 0.3s;
        &:hover {
          background-color: $black;
          color: #fff;
        }
      }
    }
  }
}

#footer {
  display: flex;
  justify-content: space-between;
  font-size: $baseFontSize * 0.75;
  font-weight: 700;
  padding: 160px 0 33px;
  .links {
    display: flex;
    .link {
      margin-left: 46px;
      text-decoration: underline;
    }
  }
}
